<div>
  <h1 class="font-bold text-4xl">Echo#index</h1>
  <p>Find me in app/views/echo/index.html.erb</p>
  <pre>
    <code>
      <%= Time.now %>
    </code>
  </pre>
  <hr>
  <pre>
    <%= @data %>
  </pre>
</div>
